.side-bar {
    background-color: var(--background-75);
    display: flex;
    flex-direction: column;
    grid-column: 1 / 1;
    padding: 0.7rem;
    height: calc(100vh - 1.4rem);
}

.main-view {
    grid-column: 2 / 6;
}

.task-list {
    background-color: var(--background-50);
    border-radius: 1rem;
    flex: 1;
    overflow-y: scroll;
    padding: 0.5rem;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.task-list::-webkit-scrollbar {
    display: none;
}

.task {
    cursor: pointer;
    padding: 0.2rem 0.4rem;
    border-radius: 0.4rem;
}

.task-empty-title {
    color: var(--foreground-lowlight);
    font-style: italic;
}

.task-selected {
    background-color: var(--background);
}

.title {
    cursor: default;
    font-weight: 800;
    font-size: 24px;
}

.category {
    font-weight: 550;
}

.side-bar-bottom-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add-task-button {
    border-radius: 1rem;
    border-style: none;
    background-color: var(--background);
    box-shadow: 0px 0.2rem 0px var(--background-50);
    color: var(--foreground);
    cursor: pointer;
    font-weight: 800;
    font-size: 1rem;
    height: 2rem;
    width: 2rem;
}

.add-task-button:hover {
    background-color: var(--background-highlight);
}

.add-task-button:active {
    background-color: var(--background);
    box-shadow: 0px -0.2rem 0px var(--background-50);
}

.task-view {
    display: flex;
    flex-direction: column;
}

.title-input {
    font-size: 2rem;
    flex: 1;
    width: 100%;
}
