/* TODO: try adding animation here. i think i need to learn that for this to feel any good... */

.search-view {
    backdrop-filter: blur(10px);
    background-color: var(--background-blur);
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    z-index: 2;

    -webkit-backdrop-filter: blur(4px);
}

.hidden {
    display: none;
}

.search-area {
    background-color: var(--background);
    box-sizing: border-box;
    border-radius: 1rem;
    flex: 1;
    max-width: 70%;
    margin: auto;
    padding: 1rem;
}

.search-input {
    display: block;
    background: var(--background-75);
    padding: 0.8rem;
    border-radius: 0.8rem;
}
