:root {
    --foreground: #2f2f2f;
    --foreground-lowlight: #404040;
    /* TODO: make this a real color */
    --background-highlight: #ff0000;
    --background: #f6f6f6;
    --background-75: #b8b8b8;
    --background-50: #7a7a7a;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground: #f6f6f6;
        --foreground-lowlight: #d9d9d9;
        --background-highlight: #383838;
        --background: #2f2f2f;
        --background-75: #212121;
        --background-50: #171717;
    }
}

:root {
    background-color: var(--background);
    color: var(--foreground);
    height: 100vh;
    margin: 0;
    overflow: hidden;
    width: 100vw;

    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-synthesis: none;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

input {
    background-color: var(--background-50);
    border-style: none;
    color: var(--foregound);
    margin: 0px;
    padding: 1rem;
    max-width: 100%;
}

input::placeholder {
    color: var(--foreground-lowlight);
    font-style: italic;
}

body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 100vh;
    margin: 0;
    width: 100vw;
}

.space-small {
    margin: 0.4rem;
}

.space-medium {
    margin: 0.8rem;
}
