.task-view {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.title-input {
    box-sizing: border-box;
    font-weight: bold;
    font-size: 1.2rem;
    width: 100%;
}

.description-input {
    flex: 1;
}

.time-zone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

.dot {
    display: block;
    background-color: var(--foreground);
    border-radius: 0.2rem;
    padding: 0.1rem;
    margin: 0.2rem;
}
